* {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    height: 67.5rem;
    width: 120rem;
    background-color: #131129;

    font-family: 'Poppins', sans-serif;
}

.App-lm {
    display: flex;
    height: 67.5rem;
    width: 120rem;
    background-color: #BCBCBC;

    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}